---
import Layout from "@/layouts/Layout.astro";
import thumbnail from '@/assets/images/works-images/LINE_ALBUM_サムネ_240923_14.jpg';
import { Image } from "astro:assets";

const title = "作品詳細 | 稲門シナリオ研究会";
const description = "稲門シナリオ研究会が制作した映画の詳細です。";
const og_image = "";
---

<Layout title={title} , description={description} og_image={og_image}>
  <main>
    <!-- パンくずリスト -->
    <nav class="flex mt-[57px] mb-[107px] mr-[140px] justify-end" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
        <li class="inline-flex items-center">
          <a href="/" class="inline-flex items-center leading-none text-xl text-white hover:border-b-2 border-white">
            TOP
          </a>
        </li>
        <li aria-current="page" class="li-current__breadcrumb !ml-5 before:!-left-6">
          <a href="/works" class="inline-flex items-center leading-none text-xl text-white hover:border-b-2 border-white">
            作品一覧
          </a>
        </li>
        <li aria-current="page" class="li-current__breadcrumb">
          <div class="flex items-center">
            <span class="ms-4 text-xl text-white">作品詳細</span>
          </div>
        </li>
      </ol>
    </nav>

    <div class="max-w-[1100px] mx-auto">
      <div class="overflow-hidden w-full max-h-[618px]">
        <Image src={thumbnail} alt='映画のサムネイル' class='thumbnail block w-full' />
      </div>
      <section id="work-info" class="mt-[123px] mb-[255px]">
        <div class="detail-hidden flex gap-[101px] items-baseline max-w-[1006px] border-b-2 border-[#D9D9D9] pb-1 mb-[46px]">
          <h2 class="text-4xl">ACARS</h2>
          <p class="text-xl">202○年 ○月○○日公開</p>
        </div>
  
        <section class="mb-[27px]">
          <h3 class="text-4xl font-medium mb-[18px]">作品説明</h3>
          <p class="text-xl max-w-[960px]">作品説明サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプサンプルサンプルサンプルサンプルサンプルサンプルルサンプルサンプルサンプル</p>
        </section>
  
        <section class="mb-[27px]">
          <h3 class="text-4xl font-medium mb-[18px]">監督</h3>
          <p class="text-xl max-w-[960px]">佐藤　太朗</p>
        </section>
  
        <section class="mb-[27px]">
          <h3 class="text-4xl font-medium mb-[18px]">出演</h3>
          <p class="text-xl max-w-[960px]">田中　太朗、田中　太朗、田中　太朗、田中　太朗、田中　太朗、田中　太朗、田中　太朗</p>
        </section>
  
        <section>
          <h3 class="text-4xl font-medium mb-[18px]">Youtube</h3>
          <a href="/" class="underline [text-underline-offset:4px]">シナリオ研究会</a>
        </section>
      </section>
    </div>
  </main>
</Layout>

<script>
  import { detail } from '@/pages/detail';
  detail();
</script>