---
import Layout from "@/layouts/Layout.astro";
const title = "";
const description = "";
const og_image = "";
---

<Layout title={title} , description={description} og_image={og_image}>
	<main>
	<p>aaa</p>
		<!-- 作品一覧へ　ここから -->
		<!-- 作品一覧へ　ここまで -->
		<!-- NEWS　ここから -->
		<!-- NEWS　ここまで -->
		<!-- ACTIVITY　ここから -->
		<!-- ACTIVITY　ここまで -->
		<!-- GALLERY　ここから -->
		<!-- GALLERY　ここまで -->

		<!-- 柳原　ここから -->
		<!-- EVENTS　ここから -->
		 <section id="events" class="p-events"></section>
		<!-- EVENTS　ここまで -->
		<!-- HISTORY　ここから -->
		<!-- HISTORY　ここまで -->
		<!-- INFORMATION　ここから -->
		<!-- INFORMATION　ここまで -->
		<!-- 入会方法　ここから -->
		<!-- 入会方法　ここまで -->
	</main>
</Layout>
