---
import Image from "astro/components/Image.astro"
import arrow from '@/assets/images/accordion-arrow.png'
---


<div id="accordion-color" data-accordion="collapse" data-active-classes="rounded-b-none dark:bg-gray-800 text-blue-600 dark:text-white border-b-0">
  <ul>
    <li>
      <p id="accordion-color-heading-1">
        <button type="button" class="flex items-center justify-between w-full p-5 rtl:text-right text-white border border-gray-200 rounded-xl gap-3 font-bold" data-accordion-target="#accordion-color-body-1" aria-expanded="true" aria-controls="accordion-color-body-1">
          <div>
            <span class="text-2xl">サークル説明会・部室紹介</span>
            <span class="text-base ml-[10px]">2025/04/01</span>
          </div>
          
          <Image data-accordion-icon src={arrow} alt='' height={20} width={20} />
        </button>
      </p>
      <div id="accordion-color-body-1" class="hidden font-light text-xl" aria-labelledby="accordion-color-heading-1">
        <div class="p-5 border border-t-0 border-gray-200 rounded-b-xl">
          <p class="text-white pb-9 text-xl">4月12日 、19日、24日 サークル説明会・部室紹介<br />部室にて【シナ研】の特徴と早稲田の映画サークルについて説明します！</p>
        </div>
      </div>
    </li>
    <li>
      <p id="accordion-color-heading-2">
        <button type="button" class="flex items-center justify-between w-full p-5 rtl:text-right text-white border border-gray-200 rounded-xl gap-3 font-bold" data-accordion-target="#accordion-color-body-2" aria-expanded="true" aria-controls="accordion-color-body-2">
          <div>
            <span class="text-2xl">クリストファー・ノーランが学生時代に監督した『DOODLEBUG』を再現してみよう！</span>
            <span class="text-base ml-[10px]">2025/04/01</span>
          </div>
          <Image data-accordion-icon src={arrow} alt='' height={20} width={20} />
        </button>
      </p>
      <div id="accordion-color-body-2" class="hidden font-light text-xl" aria-labelledby="accordion-color-heading-2">
        <div class="p-5 border border-t-0 border-gray-200 rounded-b-xl">
          <p class="text-white text-xl pb-9">Check out this guide to learn how to <a href="/docs/getting-started/introduction/" class="text-blue-600 dark:text-blue-500 hover:underline">get started</a> and start developing websites even faster with components on top of Tailwind CSS.</p>
        </div>
      </div>
    </li>
    <li>
      <p id="accordion-color-heading-3">
        <button type="button" class="flex items-center justify-between w-full p-5 rtl:text-right text-white border border-gray-200 rounded-xl gap-3 font-bold" data-accordion-target="#accordion-color-body-3" aria-expanded="true" aria-controls="accordion-color-body-3">
          <div>
            <span class="text-2xl">サンプルタイトル</span>
            <span class="text-base ml-[10px]">2025/04/01</span>
          </div>
          <Image data-accordion-icon src={arrow} alt='' height={20} width={20} />
        </button>
      </p>
      <div id="accordion-color-body-3" class="hidden font-light text-xl" aria-labelledby="accordion-color-heading-3">
        <div class="p-5 border border-t-0 border-gray-200 rounded-b-xl">
          <p class="text-white pb-9">Check out this guide to learn how to <a href="/docs/getting-started/introduction/" class="text-blue-600 dark:text-blue-500 hover:underline">get started</a> and start developing websites even faster with components on top of Tailwind CSS.</p>
        </div>
      </div>
    </li>
  </ul>
</div>
  
  

