---
import { fetchNewsContents } from '@/pages/news';
const newsContents = await fetchNewsContents();
import { slashFormatDate } from '@/pages/utils';
---


<div id="accordion-color" data-accordion="collapse" data-active-classes="rounded-b-none dark:bg-gray-800 text-blue-600 dark:text-white border-b-0">
  <ul>
    {newsContents.map((content: any, i: number) => (
      <li class="md:!mt-[27px] is-not-visible">
        <p id={`accordion-color-heading-${i+1}`}>
          <button type="button" class="accordion-button md:py-[11px] flex items-center justify-between w-full p-5 rtl:text-right text-white border border-gray-200 rounded-xl gap-3 font-bold" data-accordion-target={`#accordion-color-body-${i+1}`} aria-expanded="true" aria-controls={`accordion-color-body-${i+1}`}>
            <div class="max-w-[95%] text-left flex items-baseline">
              <span class="accordion-title md:text-sm text-2xl block max-w-[90%] truncate">{content.title}</span>
              <span class="md:text-xs text-base ml-[10px]">{slashFormatDate(content.date)}</span>
            </div>
            <img data-accordion-icon src='../src/assets/images/accordion-arrow.png' alt='' class="md:w-[15px] md:h-[15px] h-5 w-5" />
          </button>
        </p>
        <div id={`accordion-color-body-${i+1}`} class="hidden font-light text-xl" aria-labelledby={`accordion-color-heading-${i+1}`}>
          <div class="p-5 md:pt-0 border border-t-0 border-gray-200 rounded-b-xl">
            <p class="text-white pb-9 text-xl md:text-xs">{content.content}</p>
          </div>
        </div>
      </li>
    ))}
  </ul>
</div>
