---
import video from '@/assets/videos/firstview.mp4';
---
<div class="p-firstview_text">
    <h1>稲門シナリオ研究会</h1>
    <p>Start Enjoy. Start Story.</p>
    <div class="flex">
        <p class="p-firstview_text_arrow">Scroll to explore</p>
        <a href="/works">作品一覧へ</a>
    </div>
</div>
<div class="p-firstview_background">
    <video src={video} loop autoplay playsinline muted />
</div>