
<div class="p-firstview_text">
    <h1>稲門シナリオ研究会</h1>
    <p>Start Enjoy. Start Story.</p>
    <a href="#news" class="p-firstview_text_scroll">
        <p>SCROLL</p>
        <div class="p-firstview_text_scroll_triangle"></div>
    </a>
</div>
<div class="p-firstview_background">
    <video><source src="../assets/videos/cat.mp4" type="video/mp4"></video>
</div>