---
import video from '@/assets/videos/firstview.mp4';
---
<div class="p-firstview_text">
    <h1>稲門シナリオ研究会</h1>
    <p>Start Enjoy. Start Story.</p>
    <a href="#news" class="p-firstview_text_scroll">
        <p>SCROLL</p>
        <div class="p-firstview_text_scroll_triangle"></div>
    </a>
    <a href="" class="p-firstview_text_arrow">作品一覧へ</a>
</div>
<div class="p-firstview_background">
    <video src={video} loop autoplay playsinline />
</div>