---
import { Image } from 'astro:assets';
import gallery1 from '@/assets/images/gallery1.jpg'
import gallery2 from '@/assets/images/gallery2.jpg'
import gallery3 from '@/assets/images/gallery3.jpg'
import gallery4 from '@/assets/images/gallery4.jpg'

---

<!-- Slider main container -->
<div id="gallery-swiper" class="swiper is-not-visible md:!mt-0">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide"><Image src={gallery1} alt="gallery1" /></div>
    <div class="swiper-slide"><Image src={gallery2} alt="gallery2" /></div>
    <div class="swiper-slide"><Image src={gallery3} alt="gallery3" /></div>
    <div class="swiper-slide"><Image src={gallery4} alt="gallery4" /></div>

  </div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev md:!hidden"></div>
  <div class="swiper-button-next md:!hidden"></div>
</div>

  