@charset "UTF-8";

@use "./variables" as *;

body {
  background-color: black;
}

.li-current__breadcrumb {
  position: relative;
}

.li-current__breadcrumb::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -8px;
  transform: translateY(-50%) rotate(-45deg) skew(15deg, 15deg); 
  height: 15px;
  width: 15px;
  border-bottom: 2px solid #FFFFFF;
  border-right: 2px solid #FFFFFF;
}
