@charset "UTF-8";

@use "./variables" as *;

body {
  background-color: black;
}

.li-current__breadcrumb {
  position: relative;
}

.li-current__breadcrumb::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -8px;
  transform: translateY(-50%) rotate(-45deg) skew(15deg, 15deg); 
  height: 15px;
  width: 15px;
  border-bottom: 2px solid #FFFFFF;
  border-right: 2px solid #FFFFFF;
}
@font-face {
  font-family:'OPTIC';
  src: url('/fonts/OPTIC/OPTICopperplate-Heavy.ttf.woff') format('woff');
  font-display: swap; 
}


.ttl{
  font-size: 50px;
  font-family: "OPTIC",sans-serif; /*上で設定したフォントファミリー名*/
}


// プレースホルダー　ここから
$white: #F5F5F5;
$charcoal: #383838; 
$title-font: OPTIC;
// プレースホルダー　ここまで 


body {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  background-color: #000000;
  color: $white;
}

h2 {
  font-family: $title-font;
  font-weight: 500;
  color: $white;
  font-size: 36px;
  text-align: center;
  letter-spacing: 8px;
}

// 作品一覧ここから
h1 {
  font-family: 'Noto Serif JP Variable', serif;
}



// NEWS ここから
#news {
  li {
    margin: 40px 10vw 0;
  }
}




// NEWS ここまで

// ACTIVITY ここから
#activity {
  margin-top: 100px;

  div {
    display: flex;
    margin: 60px 18vw 0;
   
  }

  p {
    font-weight: 700;
    font-size: 14px;
    margin: auto 0 auto 66px;
  }

}
// ACTIVITY ここまで
